<div class="main-categories-page">
  <div class="header category-header">
    <%= link_to raw(image_tag "backwards-arrow.svg"), categories_path %>
    <h2 class="main-headings">Edit <%= resource_name.to_s.humanize %></h2>
  </div>
  <div class="forms-container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
       <div class="field">
        <%= f.text_field :name, value: current_user.name %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password (min 6 chars)" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password" %>
      </div>

      <div class="porfile-form-actions">
        <%= f.submit "Update" %>
      <% end %>
      <%= button_to "Delete my account", registration_path(resource_name),
          data: { confirm: "Are you sure?" },
          method: :delete,
          style: "
              text-align: center;
              padding: 20px;
              border: none;
              font-size: var(--heading-size);
              font-weight: var(--heding-font-weight);
              border-radius: 5px;
              background-image: linear-gradient(to left bottom, #e52d27, #b31217);
              color: #ffffff;
              " %>
      </div>
  </div>
</div>