<div class="category-cards">
  <%case category.icon %>
    <%when "entertainment"%>
      <div class="icon-container entertainment">
        <%=image_tag "entertainment.svg" %>
      </div>
    <%when "grosseries"%>
      <div class="icon-container grosseries">
        <%=image_tag "grosseries.svg" %>
      </div>
    <%when "utilities"%>
      <div class="icon-container utilities">
        <%=image_tag "utilities.svg" %>
      </div>
    <%when "housing"%>
      <div class="icon-container housing">
        <%=image_tag "housing.svg" %>
      </div>
    <%when "clothing"%>
      <div class="icon-container clothing">
        <%=image_tag "clothing.svg" %>
      </div>
    <%when "healthcare"%>
      <div class="icon-container healthcare">
         <%=image_tag "healthcare.svg" %>
      </div>
    <%when "transportation"%>
      <div class="icon-container transportation">
         <%=image_tag "transportation.svg" %>
      </div>
    <%when "miscellaneous"%>
      <div class="icon-container miscellaneous">
         <%=image_tag "miscellaneous.svg" %>
      </div>
  <% end %>
  </div>
  <div class="card-content">
    <div class="card-content-header">
      <h2><%= category.name %></h2>
      <h2>$ <%= category.calculate_total %>.00</h2>
    </div>
    <div class="card-content-footer">
      <small><%= category.created_at.strftime("%d %B, %Y") %></small>
    </div>
  </div>
  <div class="category-actions">
    <%= link_to raw(image_tag "arrow-forward.svg"), category_path({id: category.id}), class: "arrows-links"%>
  </div>
</div>