<div class="main-categories-page">
  <div class="header category-header">
    <%= link_to raw(image_tag "backwards-arrow.svg"), category_path(@category.id) %>
    <h2 class="main-headings">Update category</h2>
  </div>
  <div class="forms-container">
    <%=form_with(model: @group, url: category_path, method: :put, local: true) do |f| %>
      <div class="field">
        <%= f.text_field :name, value: @category.name %>
      </div>

      <div class="field">
        <%= f.collection_select :icon, Group::ICONS, :to_s, :humanize %>
      </div>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="form-actions">
        <%= f.submit "Save changes", class: "creator-btns" %>
    <% end %>
        <%= button_to "Delete this category",
            category_path(id: params[:id]),
            method: :delete,
            style: "
              text-align: center;
              border: none;
              font-size: var(--heading-size);
              font-weight: var(--heding-font-weight);
              border-radius: 5px;
              background: #ffffff;
              " %>
      </div>
  </div>
</div>