<div class="forms-container">
  <h2>Add category</h1>
  <%=form_with(model: @group, url: categories_path, method: :post, local: true) do |f| %>
    <div class="field">
      <%= f.label(:name, "Name") %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label "Chose icon type" %><br />
      <%= f.collection_select :icon, Group::ICONS, :to_s, :humanize %>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="form-actions">
      <%= f.submit "Add Category", class: "creator-btns" %>
      <%= link_to "Cancel", categories_path, class: 'delete-btns'%>
    </div>
  <% end %>
</div>