<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'header/header'%>
    <% end %>
    <% if alert %>
       <p class="alert"><%= alert %></p>
    <% elsif notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
